<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>校园资讯-HUST</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <link rel="stylesheet" type="text/css" th:href="@{/styles/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/font-awesome.min.css}" />
    <link rel="stylesheet" media="all" th:href="@{/styles/style.css}" />

    <script type="text/javascript" src="/scripts/jquery.js"></script>
    <script type="text/javascript" src="/scripts/main/base/base.js"></script>
    <script type="text/javascript" src="/scripts/main/base/util.js"></script>
    <script type="text/javascript" src="/scripts/main/base/event.js"></script>
    <script type="text/javascript" src="/scripts/main/base/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/component.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popup.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupLogin.js"></script>
    <script type="text/javascript" src="/scripts/main/component/upload.js"></script>
    <script type="text/javascript" src="/scripts/main/component/popupUpload.js"></script>
    <script type="text/javascript" src="/scripts/main/util/action.js"></script>
    <script type="text/javascript" src="/scripts/main/site/home.js"></script>
    <script type="text/javascript" src="/scripts/main/site/detail.js"></script>

</head>
<body class="welcome_index">

<header class="navbar navbar-default navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="/" class="navbar-brand logo">
                <h1>校园资讯</h1>
                <h3>你最想了解的校园资讯</h3>
            </a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

            <ul class="nav navbar-nav navbar-right">


                <!--/*@thymesVar id="user" type="com.nowcoder.toutiao.model.User*/-->
                <li class=""><a href="/">资讯</a></li>
                <li class="js-share" th:if="${user}"><a href="javascript:void(0);">分享</a></li>
                <li class="" th:if="${user}"><a href="/msg/list">站内信</a></li>
                <li class="" th:if="${user}"><a th:href="@{/user/{userid}(userid=${user.id})}"><span th:text="${user.name}">cnm</span></a></li>

                <li class="js-login" th:unless="${user}"><a href="javascript:void(0);">登陆</a></li>

            </ul>
        </nav>
    </div>
</header>

<div id="main">
    <div class="container">
        <ul class="letter-chatlist">
            <li id="msg-item-4009580"  th:each="msg : ${messages}">
                <!--/*@thymesVar id="msg" type="com.nowcoder.toutiao.model.ViewObject"*/-->
                <!--/*@thymesVar id="message" type="com.nowcoder.toutiao.model.Message"*/-->
                <!--/*@thymesVar id="user" type="com.nowcoder.toutiao.model.User"*/-->
                <a class="list-head" th:href="@{/user/{userid}(userid=msg.user.id)}">
                    <img width="50" class="img-circle"  th:src="@{${msg.user.headUrl}}">
                </a>
                <div class="tooltip fade right in">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner letter-chat clearfix">
                        <div class="letter-info">
                            <p class="letter-time" th:text="${msg.message.createdDate}">$date.format('yyyy-MM-dd HH:mm:ss', $!{msg.message.createdDate})</p>
                            <a href="javascript:void(0);" id="del-link" name="4009580">删除</a>
                        </div>
                        <p class="chat-content">
                            <!--/*@thymesVar id="message" type="com.nowcoder.toutiao.model.Message"*/-->
                            <span th:text="${msg.message.content}">
                                {msg.message.content}
                            </span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>

        <div class="button-control">
            <div class="button" th:unless="${page eq 1}">
                <a th:href="@{/msg/detail(conversationId=${conversationId},page=${page-1})}">上一页</a>
            </div>
            <div class="button" th:unless="${page eq size}">
                <a th:href="@{/msg/detail(conversationId=${conversationId},page=${page+1})}">下一页</a>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function(){

            // If really is weixin
            $(document).on('WeixinJSBridgeReady', function() {

                $('.weixin-qrcode-dropdown').show();

                var options = {
                    "img_url": "",
                    "link": "http://nowcoder.com/j/wt2rwy",
                    "desc": "",
                    "title": "读《Web 全栈工程师的自我修养》"
                };

                WeixinJSBridge.on('menu:share:appmessage', function (argv){
                    WeixinJSBridge.invoke('sendAppMessage', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                WeixinJSBridge.on('menu:share:timeline', function (argv) {
                    WeixinJSBridge.invoke('shareTimeline', options, function (res) {
                        // _report('send_msg', res.err_msg)
                    });
                });

                // $(window).on('touchmove scroll', function() {
                //   if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
                //     $('div.backdrop').show();
                //     $('div.share-help').show();
                //   } else {
                //     $('div.backdrop').hide();
                //     $('div.share-help').hide();
                //   }
                // });

            });

        })
    </script>
</div>


<footer>
    <div class="container">
        <p class="text-center">
            <a href="http://nowcoder.com/about">关于我们</a>
            <a href="http://nowcoder.com/download">校园资讯</a>
        </p>
        <p class="text-center">© 2018-6 校园资讯</p>
    </div>

</footer>

<div id="quick-download">
    <button type="button" class="close-link btn-link" data-toggle="modal" data-target="#quick-download-app-modal"><i class="fa icon-times-circle"></i></button>

</div>

</body>
</html>